
<header class="container" style="margin-top:100px">

    <div class="row" style="margin-top:-70px">
        <div class="col">
            <a href="/Home/Index" class="col-2" style="margin-top:-5px;margin-right:35px">
                <img style="width:100%;min-height:40px;max-height:40px;object-fit:contain" src="//bizweb.dktcdn.net/100/386/441/themes/764408/assets/logo.png?1621496047879" />
            </a>
        </div>
        <div class="col-6">
            <div class="row">
                <input name="text" style="width:450px" type="text" class="form-control" placeholder="Tìm kiếm" value="@ViewBag.TextSearch" />
                <div class="col-2">
                    <span class="input-group-append">
                        <button class="btn btn-default" style="height:39px;margin-left:-10px" type="submit">
                            <svg viewBox="0 0 451 451" style="width:20px;">
                                <g fill="#000">
                                    <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3
													 s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
													 C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3
													 s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z"></path>
                                </g>
                            </svg>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col" style="margin-top:-5px">
            <a href="tel:094.1234.828" title="Hotline" style="text-decoration:none">
                <p class="title" style="color:black">Giờ mở cửa (08:00 - 22:00)</p>
                <p class="number_phone hvr-buzz-out" style="margin-top:-19px"><img src="//bizweb.dktcdn.net/100/386/441/themes/764408/assets/hotline.svg?1621496047879" style="width:20px;" alt="Hotline"> 094.1234.828</p>
            </a>
        </div>
    </div>


</header>

<nav class="navbar navbar-expand-lg navbar-light bg-primary" style="background-color:#03a9f4 !important">

    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left:450px">
        <ul class="navbar-nav">
            <div class="row">
                <div class="col-3">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: white; font-weight: 500" href="/Home/Index">TRANG CHỦ<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <div class="col-3">
                    <li class="nav-item">
                        <a class="nav-link" style="width:200px;color:white; font-weight:500" href="#">GIỚI THIỆU</a>
                    </li>
                </div>
                <div class="col-3">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white; font-weight: 500" href="#">SẢN PHẨM</a>
                    </li>
                </div>
                <div class="col-3">
                    <li class="nav-item" ">
                        <a class="nav-link " style="color: white; font-weight: 500; " href="#">LIÊN HỆ</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</nav>